In [58]:
import pandas as pd
import numpy as np

In [59]:
df_customer = pd.read_csv("dataset/olist_customers_dataset.csv")
df_geolocation = pd.read_csv("dataset/olist_geolocation_dataset.csv")
df_order_item = pd.read_csv("dataset/olist_order_items_dataset.csv")
df_order_payment = pd.read_csv("dataset/olist_order_payments_dataset.csv")
df_order_review = pd.read_csv("dataset/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("dataset/olist_orders_dataset.csv")
df_product = pd.read_csv("dataset/olist_products_dataset.csv")
df_sellers = pd.read_csv("dataset/olist_sellers_dataset.csv")
df_product_name = pd.read_csv("dataset/product_category_name_translation.csv")

In [60]:
def standardize_column_names(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    return df

# Create dictionary of DataFrames
dfs = {
    "df_customer": df_customer,
    "df_geolocation": df_geolocation,
    "df_order_item": df_order_item,
    "df_order_payment": df_order_payment,
    "df_order_review": df_order_review,
    "df_orders": df_orders,
    "df_product": df_product,
    "df_sellers": df_sellers,
    "df_product_name":df_product_name
}

# Standardize column names for all DataFrames
dfs = {name: standardize_column_names(df) for name, df in dfs.items()}

In [61]:
maps = {
    "df_customer": df_customer,
    "df_geolocation": df_geolocation,
    "df_order_item": df_order_item,
    "df_order_payment": df_order_payment,
    "df_order_review": df_order_review,
    "df_orders": df_orders,
    "df_product": df_product,
    "df_sellers": df_sellers,
    "df_product_name":df_product_name
}

for name, df in maps.items():
    print(f"DataFrame: {name}")
    df.info()
    print("\n" + "="*50 + "\n")  # Add a separator between DataFrames

DataFrame: df_customer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

==================================================

DataFrame: df_geolocation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

==================================================

DataFrame: df_order_item
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

==================================================

DataFrame: df_order_payment
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

==================================================

DataFrame: df_order_review
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

==================================================

DataFrame: df_orders
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

==================================================

DataFrame: df_product
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

==================================================

DataFrame: df_sellers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

==================================================

DataFrame: df_product_name
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

==================================================

In [62]:
date_cols = {
    'df_orders': [
        'order_purchase_timestamp',
        'order_approved_at',
        'order_delivered_carrier_date',
        'order_delivered_customer_date',
        'order_estimated_delivery_date'
    ],
    'df_order_review': [
        'review_creation_date', 'review_answer_timestamp'
    ]
}

for df_name, columns in date_cols.items():
    df = eval(df_name)
    for col in columns:
        df[col] = pd.to_datetime(df[col])

In [63]:
dfs["df_orders"].info()

print("\n" + "="*50 + "\n")  # Add a separator between DataFrames
dfs["df_order_review"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

==================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

In [64]:
dfs["df_orders"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

# Check all missing value

In [65]:
for name, df in dfs.items():
    print(f"\nMissing values in {name}:")
    print(df.isnull().sum())

Missing values in df_customer:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Missing values in df_geolocation:
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Missing values in df_order_item:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Missing values in df_order_payment:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Missing values in df_order_review:
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Missing values in df_orders:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Missing values in df_product:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Missing values in df_sellers:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Missing values in df_product_name:
product_category_name            0
product_category_name_english    0
dtype: int64

# fill NaN for Order Review

In [66]:
dfs['df_order_review']['review_comment_title'].fillna("No Title", inplace=True)
dfs['df_order_review']['review_comment_message'].fillna("No Message", inplace=True)

C:\Users\junyao\AppData\Local\Temp\ipykernel_7592\3289311854.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfs['df_order_review']['review_comment_title'].fillna("No Title", inplace=True)
C:\Users\junyao\AppData\Local\Temp\ipykernel_7592\3289311854.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfs['df_order_review']['review_comment_message'].fillna("No Message", inplace=True)

In [67]:
dfs['df_order_review']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,No Title,No Message,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,No Title,No Message,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,No Title,No Message,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,No Title,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,No Title,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,No Title,No Message,2018-07-07,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,No Title,No Message,2017-12-09,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,No Title,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,No Title,No Message,2018-07-01,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,No Title,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49

# Drop missing naming product

In [68]:
dfs["df_product"].fillna({
    'product_category_name': 'unknown_category',
    'product_name_lenght': dfs["df_product"]['product_name_lenght'].median(),
    'product_description_lenght': dfs["df_product"]['product_description_lenght'].median(),
    'product_photos_qty': dfs["df_product"]['product_photos_qty'].median()
}, inplace=True)

In [69]:
dfs["df_product"] = dfs["df_product"][dfs["df_product"]['product_category_name'] != 'unknown_category']

In [70]:
dfs["df_product"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 32341 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32341 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32340 non-null  float64
 6   product_length_cm           32340 non-null  float64
 7   product_height_cm           32340 non-null  float64
 8   product_width_cm            32340 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.5+ MB

In [71]:
# Drop rows where any column has missing values
dfs["df_product"] = dfs["df_product"].dropna()

In [72]:

dfs["df_product"].isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

# Order Data

In [73]:
for col in dfs["df_orders"].columns:
    unique_vals = dfs["df_orders"][col].unique()
    num_unique = len(unique_vals)
    print(f"\n🔹 Column: {col}")
    print(f"   - Data type: {dfs['df_orders'][col].dtype}")
    print(f"   - Unique values: {num_unique}")
    
    # Show only first 10 unique values if there are too many
    if num_unique <= 10:
        print(f"   - Values: {unique_vals.tolist()}")
    else:
        print(f"   - Sample values: {unique_vals[:10].tolist()} ... [truncated]")

🔹 Column: order_id
   - Data type: object
   - Unique values: 99441
   - Sample values: ['e481f51cbdc54678b7cc49136f2d6af7', '53cdb2fc8bc7dce0b6741e2150273451', '47770eb9100c2d0c44946d9cf07ec65d', '949d5b44dbf5de918fe9c16f97b45f8a', 'ad21c59c0840e6cb83a9ceb5573f8159', 'a4591c265e18cb1dcee52889e2d8acc3', '136cce7faa42fdb2cefd53fdc79a6098', '6514b8ad8028c9f2cc2374ded245783f', '76c6e866289321a7c93b82b54852dc33', 'e69bfb5eb88e0ed6a785585b27e16dbf'] ... [truncated]

🔹 Column: customer_id
   - Data type: object
   - Unique values: 99441
   - Sample values: ['9ef432eb6251297304e76186b10a928d', 'b0830fb4747a6c6d20dea0b8c802d7ef', '41ce2a54c0b03bf3443c3d931a367089', 'f88197465ea7920adcdbec7375364d82', '8ab97904e6daea8866dbdbc4fb7aad2c', '503740e9ca751ccdda7ba28e9ab8f608', 'ed0271e0b7da060a393796590e7b737a', '9bdf08b4b3b52b5526ff42d37d47f222', 'f54a9f0e6b351c431402b8461ea51999', '31ad1d1b63eb9962463f764d4e6e0c9d'] ... [truncated]

🔹 Column: order_status
   - Data type: object
   - Unique values: 8
   - Values: ['delivered', 'invoiced', 'shipped', 'processing', 'unavailable', 'canceled', 'created', 'approved']

🔹 Column: order_purchase_timestamp
   - Data type: datetime64[ns]
   - Unique values: 98875
   - Sample values: [Timestamp('2017-10-02 10:56:33'), Timestamp('2018-07-24 20:41:37'), Timestamp('2018-08-08 08:38:49'), Timestamp('2017-11-18 19:28:06'), Timestamp('2018-02-13 21:18:39'), Timestamp('2017-07-09 21:57:05'), Timestamp('2017-04-11 12:22:08'), Timestamp('2017-05-16 13:10:30'), Timestamp('2017-01-23 18:29:09'), Timestamp('2017-07-29 11:55:02')] ... [truncated]

🔹 Column: order_approved_at
   - Data type: datetime64[ns]
   - Unique values: 90734
   - Sample values: [Timestamp('2017-10-02 11:07:15'), Timestamp('2018-07-26 03:24:27'), Timestamp('2018-08-08 08:55:23'), Timestamp('2017-11-18 19:45:59'), Timestamp('2018-02-13 22:20:29'), Timestamp('2017-07-09 22:10:13'), Timestamp('2017-04-13 13:25:17'), Timestamp('2017-05-16 13:22:11'), Timestamp('2017-01-25 02:50:47'), Timestamp('2017-07-29 12:05:32')] ... [truncated]

🔹 Column: order_delivered_carrier_date
   - Data type: datetime64[ns]
   - Unique values: 81019
   - Sample values: [Timestamp('2017-10-04 19:55:00'), Timestamp('2018-07-26 14:31:00'), Timestamp('2018-08-08 13:50:00'), Timestamp('2017-11-22 13:39:59'), Timestamp('2018-02-14 19:46:34'), Timestamp('2017-07-11 14:58:04'), NaT, Timestamp('2017-05-22 10:07:46'), Timestamp('2017-01-26 14:16:31'), Timestamp('2017-08-10 19:45:24')] ... [truncated]

🔹 Column: order_delivered_customer_date
   - Data type: datetime64[ns]
   - Unique values: 95665
   - Sample values: [Timestamp('2017-10-10 21:25:13'), Timestamp('2018-08-07 15:27:45'), Timestamp('2018-08-17 18:06:29'), Timestamp('2017-12-02 00:28:42'), Timestamp('2018-02-16 18:17:02'), Timestamp('2017-07-26 10:57:55'), NaT, Timestamp('2017-05-26 12:55:51'), Timestamp('2017-02-02 14:08:10'), Timestamp('2017-08-16 17:14:30')] ... [truncated]

🔹 Column: order_estimated_delivery_date
   - Data type: datetime64[ns]
   - Unique values: 459
   - Sample values: [Timestamp('2017-10-18 00:00:00'), Timestamp('2018-08-13 00:00:00'), Timestamp('2018-09-04 00:00:00'), Timestamp('2017-12-15 00:00:00'), Timestamp('2018-02-26 00:00:00'), Timestamp('2017-08-01 00:00:00'), Timestamp('2017-05-09 00:00:00'), Timestamp('2017-06-07 00:00:00'), Timestamp('2017-03-06 00:00:00'), Timestamp('2017-08-23 00:00:00')] ... [truncated]

In [74]:
dfs["df_orders"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [75]:
dfs["df_orders"].isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [76]:
dfs["df_orders"][dfs["df_orders"]["order_approved_at"].isnull()]["order_status"].value_counts()
#

order_status
canceled     141
delivered     14
created        5
Name: count, dtype: int64

# canceled let to NaN
#

In [77]:
import pandas as pd

# Target DataFrame
df = dfs["df_orders"]

# Define logical masks
delivered_or_created = df["order_status"].isin(["delivered", "created"])

# Fill logic
df.loc[
    delivered_or_created & df["order_approved_at"].isnull(), "order_approved_at"
] = df["order_purchase_timestamp"]

In [78]:
dfs["df_orders"][dfs["df_orders"]["order_delivered_customer_date"].isnull()]["order_status"].value_counts()

order_status
shipped        1107
canceled        619
unavailable     609
invoiced        314
processing      301
delivered         8
created           5
approved          2
Name: count, dtype: int64

In [79]:
dfs["df_orders"][dfs["df_orders"]["order_delivered_carrier_date"].isnull()]["order_status"].value_counts()

order_status
unavailable    609
canceled       550
invoiced       314
processing     301
created          5
approved         2
delivered        2
Name: count, dtype: int64

In [80]:
# import os
# os.makedirs('../data_processed', exist_ok=True)

# df_customer.to_csv('../data_processed/df_customer.csv', index=False)
# df_geolocation.to_csv('../data_processed/df_geolocation.csv', index=False)
# df_order_item.to_csv('../data_processed/df_order_item.csv', index=False)
# df_order_payment.to_csv('../data_processed/df_order_payment.csv', index=False)
# df_order_review.to_csv('../data_processed/df_order_review.csv', index=False)
# df_orders.to_csv('../data_processed/df_orders.csv', index=False)
# df_product.to_csv('../data_processed/df_product.csv', index=False)
# df_sellers.to_csv('../data_processed/df_sellers.csv', index=False)
# df_product_name.to_csv('../data_processed/df_product_name.csv', index=False)

In [81]:
# Aliases for clarity
df_customer         = maps["df_customer"]
df_geolocation      = maps["df_geolocation"]
df_order_item       = maps["df_order_item"]
df_order_payment    = maps["df_order_payment"]
df_order_review     = maps["df_order_review"]
df_orders           = maps["df_orders"]
df_product          = maps["df_product"]
df_sellers          = maps["df_sellers"]
df_product_name     = maps["df_product_name"]  # Contains product_category_name translations

# Step 1: Merge orders with order items
df_merged = pd.merge(df_orders, df_order_item, on="order_id", how="inner")

# Step 2: Merge with products
df_merged = pd.merge(df_merged, df_product, on="product_id", how="left")

# Step 3: Enrich with translated product category name
df_merged = pd.merge(
    df_merged,
    df_product_name,
    on="product_category_name",
    how="left"
)

# Step 4: Merge with customer data
df_merged = pd.merge(df_merged, df_customer, on="customer_id", how="left")

# Step 5: Merge with seller data
df_merged = pd.merge(df_merged, df_sellers, on="seller_id", how="left")

# Step 6: Merge with review scores (only retain score)
df_merged = pd.merge(
    df_merged,
    df_order_review[["order_id", "review_score"]],
    on="order_id",
    how="left"
)

# Step 7: Merge with payment data
df_merged = pd.merge(df_merged, df_order_payment, on="order_id", how="left")

# Final output
df_merged.to_csv("../data_processed/olist_combined_clean_with_product_name.csv", index=False)
print("✅ Final dataset with translated product names saved. Shape:", df_merged.shape)

✅ Final dataset with translated product names saved. Shape: (118310, 35)

In [82]:
df_merged.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1254
order_delivered_customer_date    2588
order_estimated_delivery_date       0
order_item_id                       0
product_id                          0
seller_id                           0
shipping_limit_date                 0
price                               0
freight_value                       0
product_category_name               0
product_name_lenght                 0
product_description_lenght          0
product_photos_qty                  0
product_weight_g                   20
product_length_cm                  20
product_height_cm                  20
product_width_cm                   20
product_category_name_english    1734
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
seller_zip_code_prefix              0
seller_city                         0
seller_state                        0
review_score                      978
payment_sequential                  3
payment_type                        3
payment_installments                3
payment_value                       3
dtype: int64

In [83]:
# Columns safe to drop due to nulls or low business value
cols_to_drop = [
    "product_category_name_english", 
    "payment_sequential", 
    "payment_installments",
    
]

# Optional: Only drop payment_type if confirmed non-critical
if df_merged["payment_type"].isnull().sum() > 0:
    cols_to_drop.append("payment_type")

# Apply column drop
df_merged.drop(columns=cols_to_drop, inplace=True)

print("✅ Dropped columns:", cols_to_drop)

✅ Dropped columns: ['product_category_name_english', 'payment_sequential', 'payment_installments', 'payment_type']

In [84]:
for col in ["product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"]:
    df_merged[col] = df_merged[col].fillna(df_merged[col].median())

# For review_score (e.g., fill missing with -1)
df_merged["review_score"] = df_merged["review_score"].fillna(-1)

# For payment_value (fill with median)
df_merged["payment_value"] = df_merged["payment_value"].fillna(df_merged["payment_value"].median())

In [85]:
df_merged.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1254
order_delivered_customer_date    2588
order_estimated_delivery_date       0
order_item_id                       0
product_id                          0
seller_id                           0
shipping_limit_date                 0
price                               0
freight_value                       0
product_category_name               0
product_name_lenght                 0
product_description_lenght          0
product_photos_qty                  0
product_weight_g                    0
product_length_cm                   0
product_height_cm                   0
product_width_cm                    0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
seller_zip_code_prefix              0
seller_city                         0
seller_state                        0
review_score                        0
payment_value                       0
dtype: int64

In [86]:
df_merged["order_id"].duplicated().sum()

19644

In [91]:
# 1. Identify duplicate order_ids (excluding the first occurrence)
duplicate_mask = df_merged["order_id"].duplicated(keep=False)

# 2. Filter rows with duplicate order_ids
duplicates_df = df_merged[duplicate_mask]

# 3. Summarize the associated financial columns
summary = duplicates_df[["payment_value", "freight_value", "price"]].describe()

# 4. Count of duplicate order_ids
num_duplicates = df_merged["order_id"].duplicated().sum()

# 5. Optional: Group by order_id to inspect variations
grouped_summary = duplicates_df.groupby("order_id")[["payment_value", "freight_value", "price"]].agg(["count", "mean", "sum", "std"])

# Output
print(f"🔁 Number of duplicate order_id entries: {num_duplicates}\n")
print("📊 Summary of financials for duplicate order_ids:")
print(summary)

# Optional detailed view
print(grouped_summary)

display(duplicates_df[["order_id","product_id", "payment_value", "freight_value", "price"]])

🔁 Number of duplicate order_id entries: 19644

📊 Summary of financials for duplicate order_ids:
       payment_value  freight_value         price
count   32563.000000   32563.000000  32563.000000
mean      230.010211      19.181266     95.020626
std       380.826276      15.296104    142.749530
min         0.000000       0.000000      0.850000
25%        70.460000      12.480000     34.900000
50%       144.760000      16.050000     59.900000
75%       261.120000      20.840000    108.000000
max     13664.080000     299.160000   3999.000000
                                 payment_value                               \
                                         count     mean      sum        std
order_id
0008288aa423d2a3f00fcb17cd7d8719             2  126.540   253.08   0.000000
00143d0f86d6fbd9f9b38ab440ac16f5             3  109.290   327.87   0.000000
0016dfedd97fc2950e388d2971d718c7             2   35.275    70.55  24.543676
001ab0a7578dd66cd4b0a71f5b6e1e41             3  127.560   382.68   0.000000
001d8f0e34a38c37f7dba2a37d4eba8b             2   53.540   107.08   0.000000
...                                        ...      ...      ...        ...
ffd84ab39cd5e873d8dba24342e65c01             2   65.360   130.72   0.000000
ffe4b41e99d39f0b837a239110260530             2   69.580   139.16   0.000000
ffecd5a79a0084f6a592288c67e3c298             3  113.070   339.21   0.000000
fff8287bbae429a99bb7e8c21d151c41             2  456.280   912.56   0.000000
fffb9224b6fc7c43ebb0904318b10b5f             4  356.760  1427.04   0.000000

                                 freight_value                     price  \
                                         count   mean     sum  std count
order_id
0008288aa423d2a3f00fcb17cd7d8719             2  13.37   26.74  0.0     2
00143d0f86d6fbd9f9b38ab440ac16f5             3  15.10   45.30  0.0     3
0016dfedd97fc2950e388d2971d718c7             2  20.80   41.60  0.0     2
001ab0a7578dd66cd4b0a71f5b6e1e41             3  17.63   52.89  0.0     3
001d8f0e34a38c37f7dba2a37d4eba8b             2   7.78   15.56  0.0     2
...                                        ...    ...     ...  ...   ...
ffd84ab39cd5e873d8dba24342e65c01             2   7.78   15.56  0.0     2
ffe4b41e99d39f0b837a239110260530             2  15.79   31.58  0.0     2
ffecd5a79a0084f6a592288c67e3c298             3  15.79   47.37  0.0     3
fff8287bbae429a99bb7e8c21d151c41             2  48.14   96.28  0.0     2
fffb9224b6fc7c43ebb0904318b10b5f             4  34.19  136.76  0.0     4


                                    mean     sum  std
order_id
0008288aa423d2a3f00fcb17cd7d8719   49.90   99.80  0.0
00143d0f86d6fbd9f9b38ab440ac16f5   21.33   63.99  0.0
0016dfedd97fc2950e388d2971d718c7   49.75   99.50  0.0
001ab0a7578dd66cd4b0a71f5b6e1e41   24.89   74.67  0.0
001d8f0e34a38c37f7dba2a37d4eba8b   18.99   37.98  0.0
...                                  ...     ...  ...
ffd84ab39cd5e873d8dba24342e65c01   24.90   49.80  0.0
ffe4b41e99d39f0b837a239110260530   19.00   38.00  0.0
ffecd5a79a0084f6a592288c67e3c298   21.90   65.70  0.0
fff8287bbae429a99bb7e8c21d151c41  180.00  360.00  0.0
fffb9224b6fc7c43ebb0904318b10b5f   55.00  220.00  0.0

[12919 rows x 12 columns]

,order_id,product_id,payment_value,freight_value,price
0,e481f51cbdc54678b7cc49136f2d6af7,87285b34884572647811a353c7ac498a,18.12,8.72,29.99
1,e481f51cbdc54678b7cc49136f2d6af7,87285b34884572647811a353c7ac498a,2.00,8.72,29.99
2,e481f51cbdc54678b7cc49136f2d6af7,87285b34884572647811a353c7ac498a,18.59,8.72,29.99
11,e69bfb5eb88e0ed6a785585b27e16dbf,9a78fb9862b10749a117f7fc3c31f051,161.42,19.77,149.99
12,e69bfb5eb88e0ed6a785585b27e16dbf,9a78fb9862b10749a117f7fc3c31f051,8.34,19.77,149.99
...,...,...,...,...,...
118300,9115830be804184b91f5c00f6f49f92d,49d2e2460386273b195e7e59b43587c3,64.37,36.98,26.90
118301,aa04ef5214580b06b10e2a378300db44,9fc063fd34fed29ccc57b7f8e8d03388,250.00,19.43,370.00
118302,aa04ef5214580b06b10e2a378300db44,9fc063fd34fed29ccc57b7f8e8d03388,139.43,19.43,370.00
118307,11c177c8e97725db2631073c19f07b62,d1c427060a0f73f6b889a5c7c61f2ac4,441.16,40.59,179.99
118308,11c177c8e97725db2631073c19f07b62,d1c427060a0f73f6b889a5c7c61f2ac4,441.16,40.59,179.99